# Core dependencies - 
xgboost==2.0.3
numpy==1.24.3
scipy==1.11.1
librosa==0.10.0
soundfile==0.12.1

# AWS SDK
boto3==1.28.25

# FastAPI (optional - only if you deploy on Fargate later)
# fastapi==0.121.2
# uvicorn==0.38.0

# For local development only
# pytest==7.4.0
# python-dotenv==1.0.0